<script>

import { Frutero } from './frutas.js';
import PriceFruit from './PriceFruit.svelte';
// import ButtonFruit from './ButtonFruit.svelte';
import Delete from './Delete.svelte';
import Total from './Total.svelte';
import DarkMode from './DarkMode.svelte';

let fruits = [
	['Durazno','🍑','#FFF68F'],
	['Manzana','🍎','#adff2f'],
	['Cereza','🍒','#da70d6'],
	['Arándano','🫐','#fffacd'],
	['Uva','🍇','#ff1493'],
	['Coco','🥥','#ff8c00'],
	['Sandía','🍉','#F497AA'],
	['Banana','🍌','#8a2be2'],
	['Fresa','🍓','#ffff00'],
];

//console.log("INICIANDO...")
let frutero = new Frutero(fruits);
	//frutero.show();

let add_fruta = (fruta) => {
	fruta.add()
	//console.log("FRUTA ADD", fruta)
	frutero = frutero
}

//let group = undefined;
//let value = undefined;

</script>

<main>
	<DarkMode/>
	<h1>Frutas!</h1>
	<PriceFruit/>
	<div class="fruits-content">
	<div class="content">
		{#each [...frutero.frutas.entries()] as [key,fruta]}
			<button on:click={ () => 
				{add_fruta(fruta)}} 
				style="--theme-color:{fruta.color}" 
				class="fruit select"
				>
				<label class="pulse">{fruta.emoji}</label>
			</button>
		{/each}
	</div> 
	<div class="total">
		<div class="selection">		
			<ul>
				<span class="factura">✏️ Lista de frutas</span>
				{#each [...frutero.frutas.entries()] as [key,fruta]}
					<div class="background-sheet">
					<li>
					<!-- <input type=checkbox bind:group={value}> -->
						<span class="sheet">
								{fruta.emoji} x <strong class="cantidad">{fruta.cantidad}</strong>
						</span>
					</li>
					</div>
				{/each}
			</ul>
		</div>
		<section class="keypad">
			<Delete/>
			<Total class="eq"/>
		</section>
	</div>
</div>
</main>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Delius&family=Fredoka+One&family=Prompt:wght@700&family=Source+Code+Pro:ital,wght@1,200&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

	body,html {
		font-family: 'Fredoka One', cursive;
	}

	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #FF69B4;
		/*text-transform: uppercase;*/
		font-size: 50px;
		font-weight: 100;
		font-family: 'Indie Flower', cursive;
	}

	.fruits-content{
		display: flex;
		justify-content: center;
	}
	.content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		background: #778899;
		width: 320px;
		height: 320px;
		border: 5px;
	}

	.select {
		width: 100px;
		height: 100px;
		cursor: pointer;
		border: 3px solid #191970;
		border-radius: 8px;
		margin: 3px;
		font-size: 40px;
	}

	button {
		border: none;
	}

	.fruit {
		background-color: var(--theme-color);

	}

	.pulse:hover {
	  transform: scale(1.7);
	  transition: all ease 400ms;
	  cursor: pointer;
	}

	span {
		font-family: 'Indie Flower', cursive;
		font-size: 20px;
		font-weight: bolder;
	}

	.total {
		width: 320px;
		height: 320px;
		
	}



	li {
		list-style-type: none;
	}

	.selection {
		font-size: 20px;
		font-family: 'Indie Flower', cursive;
		text-align: left;
		margin-top: -28px;

	}

	.cantidad {
		font-size: 22px;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

	.keypad {
		display: flex;
		align-items: center;
		margin-top: -20px;
		margin-left: 35px;
		
	}

	@media screen and (max-width: 500px) {
  	.select {
    width: calc(100% - 70%);
    height: calc(1% + 25%);
  }
}

	@media screen and (max-width: 500px) {
  	.content {
    width: calc(100% + 10%);
  }
}


</style>