<script>
let darkMode = false;

let toggle = () => {
	darkMode = !darkMode;
	window.document.body.classList.toggle('dark');
}
</script>
<main>
	<section class="theme">
		<p>Cambiar tema</p>
		<button class="change-mode pulse" on:click={toggle}>
			{#if darkMode}
				<span class="sun pulse">☀️</span>
			{:else}
				<span class="moon pulse">🌑</span>
			{/if}
		</button>
	</section>
</main>
<style>

:root{
		--bg-color: #FFFFFF;
		--text-color: #000000;
	}
	
	:global(body) {
		background: var(--bg-color);
		color: var(--text-color);
	}
	
	:global(body.dark) {
		--bg-color: #122B40;
		--text-color: #FFFFFF;
	}

.theme {
	display: flex;
	justify-content:flex-end;
	align-items: center;
	margin-bottom: -90px;

}

.moon:hover {
	transform: scale(1.2);
	transition: all ease 400ms;
	cursor: pointer;
	text-shadow: 0 0 10px black;
	background: transparent;
}

.sun:hover{
	transform: scale(1.2);
	transition: all ease 400ms;
	cursor: pointer;
	text-shadow: 0 0 30px #ffc400;
	background: transparent;
}

.change-mode {
		border: none;
		background: transparent;
		font-size: 30px;
		cursor: pointer;
}

p {
	display: flex;
	margin-left: 25%;
	margin-top: 6px;
	font-size: 20px;
	font-family: 'Indie Flower', cursive;	
}
</style>