<script>
	// Eliminar seleccionados
	// Eliminar todos
</script>
<main>
	<button class="select delete">x</button>
	<button class ="select reduce">➖</button>	
</main>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
	button {
		border: none;
		background: transparent;
	}

	.select {
		font-size: 25px;
  		font-family: 'Fredoka One', cursive;
  		color: #DD2E44;
	}

	.select:hover {
		transform: scale(1.7);
		transition: all ease 320ms;
		cursor: pointer;
	}

	.reduce {
		color: #DF3A4F;
		font-family: 'Indie Flower', cursive;
		font-size: 25px;
	}

</style>