<script>
// Total general de frutas
// Total de cada fruta
</script>
<main>
	<div></div>
	<button class="select equal">
		=
	</button>	
</main>
<style>

	button {
		border: none;
	/*	background: #FF9ACC;*/
		padding: 0px 10px 0px 10px;
	}

	.select, .equal {
		display: flex;
		margin-left: 25%;
		font-size: 25px;
  		font-family: 'Fredoka One', cursive;
  		font-family: 25px;
  	
	}

	.equal {
		margin-top: -11px;
	}

	.select:hover {
		transform: scale(1.3);
		transition: all ease 320ms;
		cursor: pointer;
	}


</style>